
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
    /*sets the min height to ensure it fills the entire screen */
}

/*--------- Header  CSS part ------------------ */
header {
    background-color: #232b3b;
    padding: 1rem 1.2rem;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#ffffffea;
    font-size: 18px;
    width: 100%;
   
}



/* ------------------- Navigation Bar CSS-------------- */
nav {
    position:relative;
}

.nav-list {
    display: flex;
    gap: 2.5rem;
    list-style:none;
}

.nav-list li {
    margin: 11px;
}

.nav-list a {
    text-decoration:none;
    font-family: 'Playfair Display' , sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 0.3rem;
    transition: color 0.4s ease, transform 0.4s ease;
}

.nav-list a:hover {
    color: #36bae2;
    transform: scale(1.05);
}

/* CSS part using structural selectors */

.nav-list li:last-child {
    font-style: italic; /* This makes the last navigation topic word Italic */
}


/*----------------- Home page CSS part ----------------- */
.home-section {
    display: flex;
    justify-content:center;
    padding: 30px;
    background-color: black; 
    flex-wrap: wrap;
}

.home-container {
    display:flex ; 
    align-items: center;
    flex-direction: column; 
    width: 100%;
}

.home-image img {
   
    width: 100%; 
    height: auto;
    object-fit:cover;
    max-width: 380px;
    
}

.home-image {
    flex: 1; /* Allows flex-grow to make it responsive */
    min-width: 300px; 
    display: flex;
    justify-content: center;
}

.home-info {
    color: white;
    font-size:55px;
    margin-top: 20px; 
    max-width: 60%; 
    /*This adjusts width to ensure text doesn’t wrap */
    /* padding-left: 100px; */
    padding: 0 20px;
    text-align: left;
}

.highlighted-name {
    color: #4f16aaea;
    font-weight: bold;
}

.connect-button {
    background-color: rgb(8, 45, 78);
    color: white;
    border: none;
    font-size: 20px;
    padding: 18px 18px;
    border-radius: 11px;
    cursor: pointer;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #0f2633, #0a5c58);
    transition: transform 0.5s ease;
   
}

.connect-button::after {
 /* Adds an arrow after the button text using pseudo elements with generated content  */
    content: " →";    
    margin-left: 3px;
    color: #f8f8f8;
}

.connect-button:hover {
    background-color: #24a6bd;
    background: linear-gradient(to right, #26676b, #2aeffd);
    transform: scale(1.05);  
    
}

/* -------More Details part CSS-------*/

.info-section {
    display: flex;
    flex-direction: column;
    text-align:center;
    align-items: center;
    gap: 40px;
    padding: 15px;
    flex-wrap:wrap;
    font-size:30px ;
    font-family: 'Playfair Display' , sans-serif;
}    

.info-box {
    background-color: #000000;
    color: white;
    border-radius: 15px;
    width:65%;
    font-size: 17px;
    font-family: 'Poppins', Times, serif;
    padding: 30px;
    text-align: justify;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 5px 5px 5px  rgba(70, 7, 185, 0.753);
    /* This will give a shadow for 5px in horizontal and vertical directions
     and it will have a blur radius of 5 pixels */
}

.info-box:hover {
    /* This will move the box vertically when hovers over  */
    transform: translateY(-11px);
    box-shadow: 8px 10px 10px rgba(77, 9, 204, 0.726);
}

.info-section h1 {
    font-size: 60px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-family: 'Playfair Display' , sans-serif;
}

.info-box h2 {
    font-size: 35px;
    margin-bottom: 18px;
    text-align: center;
    font-family: 'Playfair Display' , sans-serif;
    
}




.highlighted-time {
    color: #c99d0d; 
    font-weight: bolder; 
}



.read-more-button {
    display: block; 
    background-color: #0c444e;
    color: rgb(231, 223, 223);
    padding: 10px 20px;
    /* Visible border around the button */
    border: 2px solid #24a6bd; 
    border-radius: 5px;
    max-width: 150px;
    cursor: pointer;
    margin-top: 10px; 
    margin-bottom: 10px; 
    text-align: center; 
    text-decoration: none;
    font-family: 'Playfair Display' , sans-serif;
}

.read-more-button:hover{
    background-color: #24bcd6;
   }
   
/* -------- Responsive Menu Icon part CSS for Small Screens------ */

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

/* ------Footer Styling----------- */
footer  {
    background-color: #111929;
    font-family: 'Playfair Display' , sans-serif;
    padding: 19px;
    text-align: center;
    font-size: 15px;
    margin-top:20px;
}


/* -------Additional Media Query for Very Small Screens------ */
@media (max-width: 400px) {
    header {
        flex-direction: center; 
        align-items: center; 
        padding: 0.8rem 1rem;
    }

    .nav-list {
        padding: 0; 
    }

    .nav-list a {
        font-size: 1.2rem; 
        padding: 0.5rem 0; 
    }

    .home-info {
        font-size: 30px; 
        padding-left: 0; 
        text-align: center; 
        margin-top: 50px; 
    }

    footer {
        font-size: 12px; 
        padding: 10px; 
    }
    .home-image img {
        width: 100%; 
        height: auto; /
    }
}

@media (max-width: 768px) {
    .home-info {
        font-size: 40px; 
        max-width: 90%; 
        text-align: center; 
    }

    .home-image img {
        max-width: 100%; 
    }
    
    .home-container {
        flex-direction: column; 
        align-items: center; 
    }

    .home-image {
        margin-bottom: 20px; 
    }
}



/* -------Responsive Navigation CSS------------*/
@media (max-width: 768px) {
    .nav-list {
        /* This will hide the Navigation list */
        display: none;
        flex-direction: column; /* this will ensure the list is vertically aligned */
        background-color: #232b3b;
        padding: 0.4rem;
        gap: 0.3rem;
    }

    .nav-list li {
        margin: 0; /* Reset margin  */
    }

    .info-box {
        width: 90%; 
    }

    .home-image img {
        width: 90%; 
    }
    .menu-toggle {
        display: block;
        text-align: right;
    }

    .nav-list-active {
        display: flex;
    }
}

/* ----------- Contact Me page CSS part ----------------- */

.contact-section {
    display: flex;
    justify-content: center;  /*This will make sure the elements are centered horizontally. */
    align-items: flex-start;
    padding: 30px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: #141c22;
    border-radius: 16px;
    overflow: hidden;
    gap: 20px;
}

.contact-info {
    width: 50%;
    padding: 20px;
}

.contact-info h2 {
    font-size: 3rem;
    margin-bottom: 25px;
    color: #ec3030;
    /* This gives a shadow for the h2 text */
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.contact-details p {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Poppins' sans-serif;
    
}

.contact-details img {
    margin-right: 8px;
    width: 35px; 
    height: 35px; 
}

.social-media {
    display: flex;
    margin-top: 30px;
    
}

.social-media a {
    margin-right: 15px;
}

.contact-form {
    width: 50%;
    padding: 20px;
    font-size: 19px;
    font-family: 'Poppins', Times, serif;
}

.form-group {
    margin-bottom: 20px;
    font-family: 'Poppins', Times, serif;
    
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Poppins', Times, serif;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}


.submit-button {
    font-family: 'Playfair Display' , sans-serif;
}
.submit-button::after {
        content: " →"; 
        margin-left: 5px;
        color: #000000; 
      
    }
    


/*Validity pseudo class part for invalid or required inputs so user MUST enter these */
.form-group input:invalid {
    border: 2px solid red; /* Red border for invalid input */
}

/* Using Nth Pseudo-Class in CSSin the contact form */

.form-group:nth-child(1) input {
    font-family: 'Playfair Display' , sans-serif;
    font-weight: bold;
    font-size: 18px;
}


.submit-button {
   
    color: white;
    font-family: 'Poppins' sans-serif;
    padding: 14px 27px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition:transform 0.5s ease;
    text-shadow: 4px 6px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #a71616, #fd1e0e)
    /* This has a gradient of 2 colours for the submit button and a shadow to the text as well */
    
}

.submit-button:hover {
    
    transform: scale(1.08);        
    background: linear-gradient(to right, #4e0606, #bd140e);
    /* This will transform the button when user hovers over and it will scale up and this also has a gradient of 2 colours */
    
}

/* -----------Responsive Contact Section CSS--------- */

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        width: 100%;
    }

    .contact-info, .contact-form {
        width: 100%;
        padding: 10px;
    }
}


/*----------- Blogs page CSS part---------------------- */

.projects-section {
    padding: 2rem 1rem;
    text-align: center;
    background-color: #111;
    color: #fff;
}

.projects-section h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #f2f2f2;
    text-shadow: 2.5px 2px 2px rgba(255, 255, 255, 0.5);
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.project-card {
    background-color: #1b1b1b;
    border-radius: 15px;
    padding: 1.5rem;
    width: calc(33.33% - 1rem); /* One-third width with margin adjustment */
    margin: 0.5rem; /* Add margin to ensure spacing between cards */
    box-shadow: 0 0 10px rgba(16, 127, 201, 0.795);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: justify;
}


.project-card h3 {
    font-size: 2.2rem;
    color: #187a9e;
    margin-bottom: 1rem;
    text-shadow: 0px 0px 5px rgba(28, 53, 87, 0.726);
    font-family: 'Playfair Display' , sans-serif;
}

.project-card p {
    color: #ccc;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: justify;
    justify-content: left;
    font-family: 'Poppins', Times, serif;
}

.project-card a {
    display: inline-block;
    color: #00ccff;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Playfair Display' , sans-serif;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(0, 153, 255, 0.8);
}

/* ---------- Responsive Project Card --------- */
@media (max-width: 768px) {
    .projects-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; 
    }
    .project-card {
        width: calc(50% - 1rem); /* Set to half width minus margin */
    }
}

@media (max-width: 400px) {
    .project-card {
        width: 100%; 
        margin-bottom: 1rem; /* Ensure spacing between the cards */
    }

    .projects-section h2 {
        font-size: 1.5rem; 
    }
}



/* --------------------- About me page CSS ------------------------- */

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100vw;
    min-height: 100vh;
    color: white;
    background-color: inherit;
     /* This ensures it inherits the main page background */
    
    
}

.about-content {
    display: flex;
    max-width: 100%;
    width: 100%;
    gap: 2rem;
 
}

.about-image img {
    width: auto;
    height:auto;
    border-radius: 30px;
    object-fit: cover;
    margin-top: 20px;
    padding: 20px;
}

.about-text {
    max-width: 770px;
    font-size: 15px;
    text-align: justify;
    justify-content: center;
    line-height: 25px;
    font-family: 'Poppins', Times, serif;
}

/* CSS using the child Combinator */
.about-text > h1 {
    font-size: 40px;
    color: #3b87a5ea; 
    margin-bottom: 15px;
    margin-top: 20px;
    font-family: 'Playfair Display' , sans-serif;
}

.about-text h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #3b87a5ea;
    font-size: 30px;
    font-family: 'Playfair Display' , sans-serif;
}

hr {
    border: none;             
    /* This removes the default border */
    border-top: 3px solid #113075;  
    margin: 20px 0;           
   opacity: 0.7;     
    /*To make it a bit transparent */
}

/* ------Responsive part in the about me page CSS -------- */

@media (max-width: 768px) {
    .about-content {
     flex-direction: column;
     align-items: center;
     padding: 20px;
    }
    .about-text h1 {
     font-size: 2rem;
    }
    .about-text h2 {
     font-size: 1.25rem;
    }
    .about-text p {
    font-size: 0.9rem;
    padding: 10px;
    }
}

/* Attribute selector for the contact me page in nav bar */
.nav-list a[href*='#'] {
 color: rgb(255, 255, 255);
    font-weight: bold;
    transition: color 0.4s ease, transform 0.4s ease;
}

.nav-list a[href*='#']:hover {
    color: #ce1222;


}

